@page "/"
@namespace Exentials.MdcBlazor.ServerDemo.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exentials MdcBlazor ServerDemo</title>
    <base href="~/" />

    <link href="_content/Exentials.MdcBlazor/roboto/roboto.css" rel="stylesheet" />
    <link href="_content/Exentials.MdcBlazor/material-icons/material-icons.css" rel="stylesheet" />
    <link href="_content/Exentials.MdcBlazor/mdcBlazor.min.css" rel="stylesheet" />
    <link href="/theme.css" rel="stylesheet" />
    <link href="/markdown.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
</head>
<body class="@MdcStyle.Typography">
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_content/Exentials.MdcBlazor/mdcBlazor.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script>
        Blazor.defaultReconnectionHandler._reconnectCallback = function (d) {
            document.location.reload();
        }

        hljs.initHighlightingOnLoad();

        window.highlightCode = function () {
            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
            });
        }
    </script>
</body>
</html>
