@namespace Exentials.MdcBlazor
@inherits MdcContainerComponentBase
<div class="mdc-card__media @CssAttributes" style="@_backgroundImage">
    @if (Has(ChildContent))
    {
    <div class="mdc-card__media-content">
        @ChildContent
    </div>
    }
</div>