@namespace Exentials.MdcBlazor
@inherits MdcContainerComponentBase
<div class="mdc-card__media @CssAttributes">
    @if (Title != null)
    {
    <div class="mdc-card__media-content">@Title</div>
    }
</div>