@namespace Exentials.MdcBlazor
@inherits MdcContainerComponentBase
<div @ref="Ref" class="mdc-chip-set @CssAttributes" role="grid">
    <CascadingValue Value="Type" Name="MdcChipsetType">
        @ChildContent
    </CascadingValue>
    @if (Type == MdcChipsetType.Input)
    {
    }
</div>