@namespace Exentials.MdcBlazor
@inherits MdcContainerComponentBase
<div @ref="Ref" class="mdc-chip-set @CssAttributes" role="grid">
    <CascadingValue Value="Type" Name="MdcChipsetType">
        <CascadingValue Value="TrailingIcon" Name="MdcChipTrailingIcon">
            @ChildContent
        </CascadingValue>
    </CascadingValue>
</div>