:root {
    /* Default color scheme
        
    --mdc-theme-primary: #6200ee; 
    --mdc-theme-on-primary: #ffffff;
    --mdc-theme-secondary: #03dac6;
    --mdc-theme-on-secondary: #000000;
    --mdc-theme-error: #b00020;
    --mdc-theme-on-error: #ffffff;
    --mdc-theme-surface: #ffffff;
    --mdc-theme-on-surface: #000000;
    --mdc-theme-background: #ffffff;

    /* Default SHAPE SYSTEM

    --mdc-shape-small-component-radius: 4px;
    --mdc-shape-medium-component-radius: 4px;
    --mdc-shape-large-component-radius: 0px;
    
    */
    --mdc-theme-primary: #ac0000;
    --mdc-theme-secondary: #ac3333;
}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media screen and (min-width: 512px) {
    .demo-page {
        max-width: 840px;
    }
}

.demo-page {
    margin-left: auto;
    margin-right: auto;
}

.demo-component {
    /*min-height: 420px;*/
    border: 1px solid rgba(0,0,0,0.12);
    transition: box-shadow 150ms linear;
}

    .demo-component:hover {
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), 0 0 15px 0 rgba(0, 0, 0, 0.02), 0 0 20px 4px rgba(0, 0, 0, 0.06)
    }

.demo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.demo-panel {
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    height: 100%;
}

.demo-content {
    flex: 1 1 auto;
    min-height: 250px;
    padding: 40px;
    background-color: #fafafa;
}

.demo-top-bar {
    border-bottom: 1px solid rgba(0,0,0,.1);
    flex-shrink: 0;
    display: flex;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
}

.demo-option {
    border-left: 1px solid rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.demo-option-header {
    border-bottom: 1px solid rgba(0,0,0,.1);
    height: 48px;
    padding-left: 16px;
    padding-right: 4px;
    display: flex;
    align-items: center;
}

.demo-option-panel {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.demo-border {
    border: 1px solid #e5e5e5;
}

.component-style {
    background-color: var(--mdc-theme-surface, #fff);
}

.center-text {
    text-align: center;
}
