<div class="demo-component">
    <div class="demo-container">
        <div class="demo-panel">
            @if(TopBar != null)
            {
            <div class="demo-top-bar">
                @TopBar
            </div>
            }
            <div class="demo-content">
                @Content
            </div>
        </div>
            <div class="demo-option">
                <div class="demo-option-header">
                    @TopOption
                </div>
                <div class="demo-option-panel">
                    @Options
                </div>
            </div>
    </div>
</div>