@namespace Exentials.MdcBlazor
@inherits MdcComponentBase
<button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="@Name" data-mdc-dialog-button-default="@Default">
    <div class="mdc-button__ripple"></div>
    <span class="mdc-button__label">@Label</span>
</button>