@namespace Exentials.MdcBlazor
@inherits MdcContainerComponentBase
<div @ref="Ref" class="mdc-data-table">
    <div class="mdc-data-table__table-container">
        <table class="mdc-data-table__table" aria-label="@Label">
            <CascadingValue Value=Columns>
                @ChildContent
            </CascadingValue>
            <MdcDataTableHeader Table=this></MdcDataTableHeader>
            <MdcDataTableBody Table=this></MdcDataTableBody>
        </table>
    </div>
</div>