@namespace Exentials.MdcBlazor
@inherits MdcComponentBase
<tbody class="mdc-data-table__content">
    @foreach (var i in Table.DataSource.Rows)
    {
    <tr data-row-id="u0" class="mdc-data-table__row">
        @foreach (var col in Table.Columns)
            {
        <td class="mdc-data-table__cell">@col.GetValue(i)</td>
        }
    </tr>
    }
    @*    <tr data-row-id="u0" class="mdc-data-table__row">
    <td class="mdc-data-table__cell mdc-data-table__cell--checkbox">
    <div class="mdc-checkbox mdc-data-table__row-checkbox">
    <input type="checkbox" class="mdc-checkbox__native-control" aria-labelledby="u0" />
    <div class="mdc-checkbox__background">
    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
    <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
    </svg>
    <div class="mdc-checkbox__mixedmark"></div>
    </div>
    <div class="mdc-checkbox__ripple"></div>
    </div>
    </td>
    <th class="mdc-data-table__cell" scope="row" id="u0">Arcus watch slowdown</th>
    <td class="mdc-data-table__cell">Online</td>
    <td class="mdc-data-table__cell">Medium</td>
    <td class="mdc-data-table__cell">Triaged</td>
    <td class="mdc-data-table__cell mdc-data-table__cell--numeric">0:33</td>
    <td class="mdc-data-table__cell">Allison Brie</td>
    </tr>*@
</tbody>