@namespace Exentials.MdcBlazor
@inherits MdcContainerComponentBase
<div @ref="Ref" class="mdc-data-table @CssAttributes">
    <div class="mdc-data-table__table-container">
        <table class="mdc-data-table__table" aria-label="@Label">
            @ChildContent
        </table>
    </div>
</div>