@namespace Exentials.MdcBlazor
@inherits MdcComponentBase
<button @ref="Ref" class="mdc-icon-button @MdcCss.MaterialIcons mdc-data-table__pagination-button" @attributes="AdditionalAttributes" disabled="@Disabled">
    <div class="mdc-button__icon">@Icon</div>
</button>
