@namespace Exentials.MdcBlazor
@inherits MdcContainerComponentBase
<div class="mdc-touch-target-wrapper">
    <CascadingValue Value="true" Name="MdcTouchTargetWrapper">
        @ChildContent
    </CascadingValue>
</div>