@namespace Exentials.MdcBlazor
@inherits MdcContainerComponentBase
<li class="mdc-list-item @CssAttributes" role="menuitem">
    <span class="mdc-list-item__ripple"></span>
    @if (Has(MdcMenuSelectionGroup))
    {
    <span class="mdc-list-item__graphic mdc-menu__selection-group-icon" aria-hidden="true">
        <div class="mdc-checkbox">
            <input type="checkbox" class="mdc-checkbox__native-control" id="InputId" />
            <div class="mdc-checkbox__background">
                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                    <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                </svg>
                <div class="mdc-checkbox__mixedmark"></div>
            </div>
        </div>
    </span>
    }
    <span class="mdc-list-item__text">@Label</span>
</li>