@namespace Exentials.MdcBlazor
@inherits MdcContainerComponentBase
<aside @ref=Ref class="mdc-drawer @CssAttributes">
    @ChildContent
</aside>
@if (DrawerType == MdcDrawerType.Modal)
{
    <div class="mdc-drawer-scrim"></div>
}