@namespace Exentials.MdcBlazor
@inherits MdcContainerComponentBase
<div id="@Id" class="mdc-tooltip" role="tooltip" aria-hidden="true">
  <div class="mdc-tooltip__surface">
    @ChildContent
  </div>
</div>