@namespace Exentials.MdcBlazor
@inherits MdcContainerComponentBase
<header @ref="Ref" class="mdc-top-app-bar @CssAttributes">
    @Header
</header>
<main class="@CssClassAdjustAttributes">
    @ChildContent
</main>
