@namespace Exentials.MdcBlazor
@inherits MdcContainerComponentBase
<header @ref="Ref" class="mdc-top-app-bar @CssAttributes">
    @ChildContent
</header>
<div class="@CssClassAdjustAttributes"></div>
