@page "/checkboxes"

<p>
    <MdcCheckbox @bind-Value="checkboxValue1" Label="Check me 1" />
    <span>Value 1: @checkboxValue1</span>
</p>
<p>
    <MdcCheckbox @bind-Value="checkboxValue1" Disabled="true" Label="Check me 1" />
    <span>Value 1: @checkboxValue1</span>
</p>
<p>
    <MdcCheckbox @bind-Value="checkboxValue2" Indeterminate="true" Label="Check me 2" />
    <span>Value 2: @(checkboxValue2 == null? "null" : checkboxValue2.ToString() ) </span>
    <MdcButton OnClick="Clear" Command="clear" Label="Clear" />
</p>

@code {
    bool? checkboxValue1 = false;

    bool? checkboxValue2 = null;

    private Task Clear(){
        checkboxValue2 = null;
        return Task.CompletedTask;
    }
}