@page "/fabs"
<MdcHeadline4>Fabs</MdcHeadline4>
<p>
    <MdcFab Label="Favorite" Icon="favorite" OnClick='() => FabHandler("FAB")' />
    <MdcFab Label="Favorite" Icon="favorite" FabType="MdcFabType.Mini" OnClick='() => FabHandler("Mini FAB")' />
    <MdcFab Label="Favorite" FabType="MdcFabType.Extended" OnClick='() => FabHandler("Extended FAB")' />
    <MdcFab Label="Favorite" Icon="favorite" FabType="MdcFabType.Extended" OnClick='() => FabHandler("Iconed Extended FAB")' />
</p>
<MdcHeadline4>FAB has not a disabled state</MdcHeadline4>
<p>
    <MdcFab Label="Favorite" Icon="favorite" Disabled="true" />
    <MdcFab Label="Favorite" Icon="favorite" FabType="MdcFabType.Mini" Disabled="true" />
    <MdcFab Label="Favorite" FabType="MdcFabType.Extended" Disabled="true" />
    <MdcFab Label="Favorite" Icon="favorite" FabType="MdcFabType.Extended" Disabled="true" />
</p>

<p>
    <span>@message</span>
</p>

@code {
    string message;

    private Task FabHandler(string command)
    {
        message = command + " clicked!";
        return Task.CompletedTask;
    }

}