@page "/layoutgrids" ;


<MdcHeadline6>Layout Grids</MdcHeadline6>

<MdcLayoutGrid>
    <MdcLayoutGridInner>
        <MdcLayoutGridCell>
            <MdcLayoutGridInner>
                <MdcLayoutGridCell>
                    <div class="demo-layout-grid-cell">
                        Second level
                    </div>
                </MdcLayoutGridCell>
                <MdcLayoutGridCell>
                    <div class="demo-layout-grid-cell">
                        Second level
                    </div>
                </MdcLayoutGridCell>
            </MdcLayoutGridInner>
        </MdcLayoutGridCell>
        <MdcLayoutGridCell>
            <div class="demo-layout-grid-cell">
                First level
            </div>
        </MdcLayoutGridCell>
        <MdcLayoutGridCell>
            <div class="demo-layout-grid-cell">
                First level
            </div>
        </MdcLayoutGridCell>
    </MdcLayoutGridInner>
</MdcLayoutGrid>

<MdcLayoutGrid>
    <MdcLayoutGridInner>
        <MdcLayoutGridCell Span="2">
            <div class="demo-layout-grid-cell">
                Cell span 2
            </div>
        </MdcLayoutGridCell>
        <MdcLayoutGridCell Span="4">
            <div class="demo-layout-grid-cell">
                Cell span 4
            </div>
        </MdcLayoutGridCell>
        <MdcLayoutGridCell Span="6">
            <div class="demo-layout-grid-cell">
                Cell span 6
            </div>
        </MdcLayoutGridCell>
    </MdcLayoutGridInner>
    <MdcLayoutGridInner>
        <MdcLayoutGridCell Span="6">
            <div class="demo-layout-grid-cell">
                Cell span 6
            </div>
        </MdcLayoutGridCell>
        <MdcLayoutGridCell Span="6">
            <div class="demo-layout-grid-cell">
                Cell span 6
            </div>
        </MdcLayoutGridCell>
    </MdcLayoutGridInner>
</MdcLayoutGrid>