@page "/materialicons"

<p>
    <MdcButton Label="Filled" OnClick="() => ChangeIcons(MdcCss.MaterialIconsFilled)" />
    <MdcButton Label="Outlined" OnClick="() => ChangeIcons(MdcCss.MaterialIconsOutlined)" />
    <MdcButton Label="Rounded" OnClick="() => ChangeIcons(MdcCss.MaterialIconsRounded)" />
    <MdcButton Label="Sharp" OnClick="() => ChangeIcons(MdcCss.MaterialIconsSharp)" />
    <MdcButton Label="Two Tone" OnClick="() => ChangeIcons(MdcCss.MaterialIconsTwoTone)" />
</p>

<p>
    <span>Current Material Icons: @MdcCss.MaterialIcons</span>
</p>

@foreach (string icon in icons)
{
<MdcIcon>@icon</MdcIcon>
}