@page "/radios"
<MdcHeadline6>Radios</MdcHeadline6>
<MdcSubtitle1>Radio 1</MdcSubtitle1>
<p>
    <MdcRadio Value="1" @bind-Checked="radio1" Label="Radio 1" />
    <MdcRadio Value="2" @bind-Checked="radio1" Label="Radio 1 disabled" Disabled="true" />
    <MdcButton Label="Clear" OnClick="() => { radio1 = false; }" />
</p>
<p>
    <span>Value: @radio1</span>
</p>
<MdcSubtitle1>Radio 2</MdcSubtitle1>
<p>

        <MdcRadio @bind-Checked="radioA" Value="A" Label="Radio A" />
        <MdcRadio @bind-Checked="radioB" Value="B" Label="Radio B" />
        <MdcButton Label="Clear" OnClick="() => { ResetAB(); }" />
</p>
<p>
    <span>RadioA: @radioA</span>
    <span>RadioB: @radioB</span>
</p>

@code {
    bool radio1 = false;
    bool radioA = false;
    bool radioB = false;


    Task ResetAB()
    {
        radioA = false;
        radioB = false;
        return Task.CompletedTask;
    }
}