@page "/sliders"

<MdcHeadline6>Sliders</MdcHeadline6>

<MdcBody1>
    <p>
        <MdcSlider @bind-Value="sliderValue" />
    </p>
    <p>
        <MdcSlider @bind-Value="sliderValue" SliderType="MdcSliderType.Discrete" />
    </p>
    <p>
        
    </p>
</MdcBody1>

@code {

    private int sliderValue;
    
}