@page "/sliders"

<MdcHeadline6>Sliders</MdcHeadline6>

<MdcBody1>
    <p>
        <MdcSlider @bind-Value="sliderValue" />
    </p>
    <p>
        @*<MdcSlider SliderType="MdcSliderType.Discrete" @bind-Value="sliderValue"></MdcSlider>*@
    </p>
</MdcBody1>

@code {

    private int sliderValue;
    
}