@page "/snackbars"
@inject SnackbarService snackbarService

<MdcHeadline6>Snackbars</MdcHeadline6>

<MdcButton Label="Open local Snackbar" OnClick="() => OpenSnack()" />
<MdcSnackbar @ref="snack" Label="I am a local snack." ButtonLabel="Press me" Dismissable="true" ButtonActionValue="1" OnButtonAction="(x) => ButtonAction(x)" />

<MdcButton Label="Send to Snackbar service" OnClick="() => CallSnackbarService()" />

<p>
    <span>Action pressed: @actionMessage</span>
</p>

@code {
    MdcSnackbar snack;
    int count;
    string actionMessage;


    void OpenSnack()
    {
        snack.Open();
    }

    ValueTask CallSnackbarService()
    {
        count++;
        return snackbarService.Send(
        new SnackbarOptions
        {
            Label = $"I AM SNACK NUMBER {count}",
            ButtonLabel = $"ACTION {count}",
            Dismissable = true
        });
    }
    
    ValueTask ButtonAction(object obj)
    {
        if (obj != null)
        {
            actionMessage = obj.ToString();
            StateHasChanged();
        }
        return ValueTask.CompletedTask;
    }

}